{% extends 'galleria/base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
  <div class="container">
      <div class="row justify-content-center">


            <div class="col-md-4">
                <div class="card my-2">
                    <small><a href="/" class="btn btn-outline-secondary">back</a></small>
                    <h4 align=center> {{view_photo.name}} </h4>
                    <img class="image-thumbail" height="200px" id="myPhoto" src="{{view_photo.image.url}}" alt="image">
    
                    <div class="card-body">
                        <p>{{view_photo.category.name}}</p>
                        <small>Place:{{view_photo.location}}.</small><br>
                        <small>Published: {{view_photo.pub_date|timesince}} </small>
                        <p></p>
                        <p>{{view_photo.description}}</p>
                    </div>
                    <div class="lower-btns d-flex" >
                        <div class="copy-sect">
                            <input type="text" value="https://fredspichas.herokuapp.com//image/{{images.id.url}}" id="myPhoto">
                            <button class="btn btn-outline-secondary" style="position: absolute; right: 10px;" onclick="copyLink()">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
  <script>
    function copyLink() {
    var copyImage = document.getElementById('myPhoto')
    copyImage.select();
    document.execCommand('copy')
    console.log('Copied Image')
  }
  </script>
  {% endblock %}